body{
      background-color: 420858;
      padding: 100px;
      color: #80FF3C;
}
p.one{
      position: fixed;
      background-color: pink;
      color: Maroon;
      bottom: 50px;
      left: 50px;
      font-size: 26px
      }
h2{
      font-size: 45px
}
ul.one{
      background: orange;
      float: right;
      height: 50%;
      width: 50%;
}
body.one{
      	background:cc9900
}
